* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    overflow-x: hidden; /* Add this to hide horizontal scrollbar */
}

.background-container {
    background-image: url('./assets/home_bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    flex: 1;
    position: relative;
    filter: brightness(0.8);
}

.logo-container{
    filter: brightness(900); 
    filter: contrast(200);
    filter: drop-shadow(100);
}

#mainTitle {
    position: relative;
    background-color: transparent;
    color: #f8e4e4;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 100px;
    width: 100%;
    text-align: right;
    margin-left: 0%;
    padding: 20px;
    box-sizing: border-box;
    margin-top: 60vh;
}

.Navigation {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#title {
    margin-bottom: 10px;
}

#menu {
    list-style: none;
    padding: 0;
}

.item_space {
    margin: 10px 0; /* Adjust the spacing between list items in the column */
}

#links {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 16px;
    transition: color 0.3s;
    display: block; /* Display links as block elements for a vertical layout */
}

#links:hover {
    color: #007BFF;
}



#section1 {
    background-color: #f8e4e4;
}